<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Current Cost</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts.js') }}" type="text/javascript"></script>
    <style type="text/css">
        .watt {
            font-family: monospace;
            font-size: 40px;
        }

        div {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        var CURRENT_WH = 0;
        var LAST_TIMESTAMP = new Date().getTime();
        function update_power_display() {
            $("#wh").text(CURRENT_WH.toFixed(2));
            $("#cost").text((CURRENT_WH * (0.0812 + 0.009 + 0.009) * 1.196 / 1000).toFixed(2));
        }
        $(document).ready(function () {
            $.getJSON('/today', function (json_data) {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'graph',
                        type: 'areaspline',
                        marginRight: 10
                    },
                    title: {
                        text: 'Consommation courante'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Watt'
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%H:%M:%S', this.x) + ': <b>' + this.y + ' w</b>';
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [
                        {
                            name: 'Consommation courante',
                            data: (function () {
                                var data = [];
                                var total_minutes = 0;
                                var total_watts = 0;
                                for (var index = 0; index < json_data.points.length; index++) {
                                    var point = json_data.points[index];
                                    total_minutes += point['minutes'];
                                    total_watts += point['watt'];
                                    data.push([new Date(point['date']).getTime(), point['watt']]);
                                }
                                CURRENT_WH = (total_watts * total_minutes) / (data.length * 60);
                                update_power_display();
                                return data;
                            })()
                        }
                    ]
                });
                var sse = function () {
                    var source = new EventSource('/stream');
                    source.onmessage = function (e) {
                        var item = JSON.parse(e.data);
                        $("#current").text(item.watt);
                        var timestamp = new Date().getTime();
                        CURRENT_WH += (timestamp - LAST_TIMESTAMP) * item.watt / (3600 * 1000);
                        update_power_display();
                        chart.series[0].addPoint([timestamp, item.watt], true, true);
                        LAST_TIMESTAMP = timestamp;
                    };
                }();
            });
        });
    </script>
</head>
<body>
<div>
    <div class="watt"><span id="current">?</span>&nbsp;Watt</div>
    <div><span id="wh">?</span>Wh&nbsp;(<span id="cost">?</span>&euro;)</div>
    <div id="graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

</body>
</html>


