{% extends "index.html" %}

{% block main %}
<div class="header">
    <h1>A propos</h1>
</div>
<div class="pure-g-r content">
    <div class="pure-u-1">
        <p>
            Site de la pause de frontel en <a href="http://purecss.io">pureCSS</a> et <a
                href="http://backbonejs.org/">Backbone.js</a>
        </p>

        <p>
            Pour le serveur <a href="http://flask.pocoo.org/">Flask</a>, et <a
                href="http://www.redis.io">redis</a>
        </p>

        <p>
            Par <a href="https://twitter.com/bam_thomas">@bam_thomas</a>
        </p>
    </div>
</div>

{% endblock %}
