{% extends "index.j2" %}

{% block css %}
    <link rel="stylesheet" href="/static/toggle-button.css">
{% endblock %}

{% block main %}
    <script language="javascript">
        $(document).ready(function () {
            $(':checkbox').change(function () {
                $.get('/menu/commandes/execute/' + this.id + '/' + (this.checked ? 1 : 0));
            });
        });
    </script>

    <div class="header">
        <h1>{{ title }}</h1>

        <h2>Commandes</h2>
    </div>
    <div class="pure-g content">
        <form class="pure-form">
            <fieldset>
                <div class="pure-g">
                    <div class="pure-u-5-12">
                        <input type="text" name="id" placeholder="id (7 hex char)">
                    </div>
                    <div class="pure-u-5-12">
                        <input type="text" name="label" placeholder="label">
                    </div>
                    <div class="pure-u-1-12">
                        <button type="submit" class="button-primary pure-button" formmethod="post" formaction="/menu/commandes/add">Ajouter</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4">
                Piscine
            </div>
            <div class="pure-u-1-4">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="07DB0C3">
                    <label class="onoffswitch-label" for="07DB0C3">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="pure-u-1-4"></div>
        </div>
        <div class="row">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4">
                Chauffe-eau
            </div>
            <div class="pure-u-1-4">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="07DB0C2">
                    <label class="onoffswitch-label" for="07DB0C2">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="pure-u-1-4"></div>
        </div>
    </div>
{% endblock %}