{% extends "index.j2" %}

{% block main %}
<div id="main">
    <div class="header">
        <h1>La Pause de Frontel</h1>

        <h2>Consommation électrique temps réel</h2>
    </div>

    <div class="content">
        <div class="watt"><span id="current">?</span>&nbsp;Watt</div>
        <div><span id="wh">?</span>Wh</div>
        <div id="chart"></div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/conso_temps_reel.js" type="text/javascript"></script>
{% endblock %}
