<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domopyc - La Pause De Frontel - Saint-Pierre</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/static/highcharts.js" type="text/javascript"></script>
    <script src="/static/highcharts_exporting.js" type="text/javascript"></script>
    <script src="/static/underscore-min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/static/domopyc.css">
    <link rel="stylesheet" href="/static/font-awesome-4.3.0/css/font-awesome.min.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/side-menu.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
    {% block css %}
   {% endblock %}
</head>
<body>


<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">domopyc</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/menu/conso_electrique" class="pure-menu-link">Conso électrique</a></li>
                <li class="pure-menu-item"><a href="/menu/conso_temps_reel" class="pure-menu-link">Conso tps réel</a></li>
                <li class="pure-menu-item"><a href="/menu/piscine" class="pure-menu-link">Piscine</a></li>
                <li class="pure-menu-item"><a href="/menu/commandes" class="pure-menu-link">Commandes</a></li>
                <li class="pure-menu-item menu-item-divided"><a href="/menu/apropos" class="pure-menu-link">A propos</a></li>
            </ul>
        </div>
    </div>

    {% block main %}
    {% endblock %}

</div>

{% block js %}
{% endblock %}

<script src="/static/ui.js"></script>
<script src="/static/moment.min.js"></script>
<script src="/static/moment-fr.js"></script>

</body>
</html>